@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div>
        <a href="/Home/DataSubmission" class="btn btn-primary">Data Submission</a>
        <a href="/Home/Search" class="btn btn-primary">Search</a>
    </div>
</div>